<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="AUTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/auth.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/auth.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/user.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/user.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/exception.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/exception.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.boot.SpringApplication" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="AUTH_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="AUTH"/>
    </logger>

    <logger name="USER_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="USER"/>
    </logger>

    <logger name="EXCEPTION_LOGGER" level="ERROR" additivity="false">
        <appender-ref ref="EXCEPTION"/>
    </logger>


    <root level="ERROR">
        <appende-ref ref="FILE"/>
    </root>

</configuration>

